/*
    Document   : override
    Created on : 25/09/2016
    Author     : Felipe Jhair Perez Ortiz
*/

#map{
	width: 50em;
	height: 30em;
}

#mapholder{
	max-width: 35%;
}


.avatar{
	width: 2.24rem;
	height: 2.25rem;
}

#userMenu:hover{
	border-radius: 0;
}

#userMenu:active{
	border-radius: 0;
}

.oj-button{
	border-radius: 0;
}

.oj-web-applayout-header{
	background-color: #C4DFE6;
}

.bdy{
	background-color: #66A5AD;
	background-image: url("");
}

.oj-textarea, .oj-inputtext{
	max-width: 50em;
}