/*
    Document   : override
    Created on : 25/09/2016
    Author     : Felipe Jhair Perez Ortiz
    Description:
        This is where any of your application specific styles should be included
*/

#map{
	width: 100%;
	height: 30em;
}

.avatar{
	width: 2.25rem;
	height: 2.25rem;
}

#userMenu:hover{
	border-radius: 0;
}

#userMenu:active{
	border-radius: 0;
}

.oj-button{
	border-radius: 0;
}