/*
    Document   : override
    Created on : 25/09/2016
    Author     : Felipe Jhair Perez Ortiz
*/

#map{
	width: 50em;
	height: 30em;
}

.mapmini{
	width: 100%;
	height: 30em;
}

.avatar{
	width: 2.25rem;
	height: 2.25rem;
}

#userMenu:hover{
	border-radius: 0;
}

#userMenu:active{
	border-radius: 0;
}

.oj-button{
	border-radius: 0;
}

.oj-web-applayout-header{
	background-color: skyblue;
}

.bdy{
	background-color: honeydew;
	background-image: url("");
}